@page
@model VetPet.App.Frontend.Pages.MascotasModel
@{
    Layout = "_StartLayout";
    ViewData["Title"] = "Sistema de clínica veterinaría";
}
<div class="text-center">
    <h1 class="display-4">Tus mascotas</h1>
    <p>Son parte de la familia!</p>
</div>
