@page
@model VetPet.App.Frontend.Pages.ProfileModel
@{
    Layout = "_StartLayout";
    ViewData["Title"] = "Sistema de clínica veterinaría";
}
<div class="text-center">
    <h1 class="display-4">USUARIO</h1>
    <p>Tu perfil</p>
    <a class="btn btn-success mr-sm-3 mb-sm-0 mb-2" asp-area="" asp-page="/User/Mascotas">Mis mascotas</a>
</div>
