@page
@model VetPet.App.Frontend.Pages.ServicesModel
@{
    Layout = "_StartLayout";
    ViewData["Title"] = "Sistema de clínica veterinaría ";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos!</h1>
    <p>Nuestro catálogo de servicios</p>
</div>
