@page "/admin/veterinario/list"
@model VetPet.App.Frontend.Pages.ListVeterinarioModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Sistema de clínica veterinaría";
}
<h1>Gestionar Veterinarios</h1>
<p>En está pagina podrás gestionar los veterinarios</p>
<a class="btn btn-primary table-btn" href="/admin/veterinario/add">Agregar veterinario</a>
<table class="table table-dark">
<tr>
    <th scope="col">Cedula</th>
    <th scope="col">Nombre</th>
    <th scope="col">Genero</th>
    <th scope="col">Edad</th>
    <th scope="col">Tarjeta profesional</th>
</tr>
</table>
