@page "/admin/propietarios/delete"
@model VetPet.App.Frontend.Pages.RemovePropietariosModel
@{
    Layout = "_AdminLayout";
}
<h1>Confirmación</h1>
<p>Desea eliminar al propietario @Model.propietario.nombre</p>
<form method="post" class="mt-3">
    <input hidden asp-for="propietario.cedula"/>
    <button type="submit" class="btn btn-primary">Sí</button>
    <a href="/admin/propietarios/list" class="btn btn-primary">No</a>

</form>
