@page "/admin"
@model VetPet.App.Frontend.AdministracionModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Sistema de clínica veterinaría";
}
<div class="text-center">
    <h1 class="display-4">Bienvenidos!</h1>
    <p>Home Page de administrador.</p>
</div>
