@page
@model VetPet.App.Frontend.Pages.InicioModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Log In ";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos!</h1>
    <p>Sistema de autenticación.</p>
    <p>Por ahora puedes ver el <a asp-page="/Admin/Administracion">Home Page</a> que aparecerá despúes de que el administrador inicie sesión</p>
    <a asp-page="/Admin/Registro">Registrate</a>
</div>
