@page
@model VetPet.App.Frontend.Pages.PerfilModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Sistema de clínica veterinaría";
}
<div class="text-center">
    <h1 class="display-4">ADMINISTRADOR</h1>
    <p>Tu perfil</p>
</div>
