@page "/admin/usuarios"
@model VetPet.App.Frontend.Pages.UserModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Sistema de clínica veterinaría";
}
<div class="text-center">
    <h1 class="display-4">Usuarios</h1>
    <p>Acá podrás encontrar los usuarios actuales de VetPet</p>
    <a class="btn btn-success" href="/admin/user/list">Usuarios</a>
    <a class="btn btn-info" href="/admin/propietarios/list">Propietarios</a>
</div>

