@page
@model IndexModel
@{
    ViewData["Title"] = "Sistema de Hospitalización en Casa";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido!</h1>
    <p>Proyecto de hospitalización en casa, hecho por UPware.</p>
</div>
