@page
@model IndexModel
@{
    ViewData["Title"] = "Sistema de clínica veterinaría ";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos!</h1>
    <p>Proyecto de clínica veterinaría, hecho por UPware.</p>
</div>
