@page
@model VetPet.App.Frontend.Pages.LoginModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Log In ";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos!</h1>
    <p>Sistema de autenticación.</p>
</div>
