@page
@model VetPet.App.Frontend.Pages.LoginModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Log In ";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos!</h1>
    <p>Sistema de autenticación.</p>
    <p>Por ahora puedes ver el <a asp-page="/Home">Home Page</a> que aparecerá despúes de que el usuario inicie sesión</p>
    
    <div class="modal-dialog text-center">
        <div class=" col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="https://electronicssoftware.net/wp-content/uploads/user.png"/>
                </div>
                <form class="col-12">
                     <div class="form-group" id="user-group">
                         <input type="text" class="form-control" placeholder="Nombre de Usuario"/>
                     </div>
                    <div class="form-group" id=" Contraseña-group">
                         <input type="Password" class="form-control" placeholder="Contraseña"/>
                    </div>
                    <button type="submit" class="btn btn-primary boton"><i class="fas fa-sing-in-alt"></i> Ingresar </button>
                </form>
                <div class="col-12 forgot">
                    <a href="#">Recordar Contraseña</a>
            </div>
        </div>
    </div>
</div>
