@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Este sistema de veterinaria es para propositos de estudio.</p>
<p>Derechos Reservados - UPware </p>
